.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust the height as needed */
}

.container .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    /* height: 100%;
    grid-gap: .5rem;
    padding: 1rem;
    background: #212121;
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem; */
}

.container button {
    margin: 0 5px; /* Adjust the margin as needed */
}